@use "../utils/vars";
@use "../utils/mixin";
@import "../utils/vars";
@import "../utils/mixin";
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: map-get($font-weight, Bold);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-header {
    margin-right: 93px;
}
.logo-footer {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
}

.logo__decor {
    color: $decorColor;
}