@use "../utils/vars";
.header-nav__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: map-get($font-weight, Bold);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.footer__content-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: map-get($font-weight, Bold);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-nav__logo-decor,
.footer__content-logo-decor {
    color: $decorColor;
}