@use "../utils/vars";
@use "../utils/mixin";
@import "../utils/vars";
@import "../utils/mixin";
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.71;
    color: $secondaryColor;
    margin: 0;
}
.section__title {
    font-weight: map-get($font-weight, Bold);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primaryColor;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }